<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>To-Do List</h1>
    <a href="/add">Add New Item</a>
    <ul>
        <% items.forEach(item => { %>
            <li>
                <strong><%= item.name %></strong> - <%= item.description %>
                <a href="/edit/<%= item.id %>">Edit</a>
                <form action="/delete/<%= item.id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
